<div class="results span8">
  <% @results['response']['docs'].each do |result| %>

    <div class="result" id="<%= result['id'] %>">
    <div class="dateline">
       <div><p> <class="citation" style="font-weight: 700; font-size: 1.2em;"><%= result['citation_s'] %> &nbsp | &nbsp <class="date" style="font-weight: 400; font-size: 0.9em;"><%= result['formatedDate_s'] %></div>
    </div>
    <%= result['text_t'] %>
  </div>
<% end %>

  <%= will_paginate @results['response']['docs'] %>
</div>
